body {
	overflow: hidden;
}
.margin-bottom-default {
	margin-bottom: 1px;
}

.full-height {
	height: 100%;
}
.relative {
	position: relative;
}
.background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -100px;
}
.blur {   
	-webkit-filter: blur(3px); /* Chrome, Opera */
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);   
	filter: blur(3px);
}

.jumbotron > .content {
	position: absolute;
	z-index: 1;
}